<!-- Sidebar -->
<div class="col-sm-3 sidebar" role="complementary">
    sidebar
    <!-- /Sidebar Top -->
    <!-- Sidebar Bottom -->
    <div class="col-sm-3 sidebar-bottom" role="complementary">
        sidebar-bottom
        <!-- /Sidebar Bottom -->
    </div>

    <!-- /Sidebar -->
</div>
