@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About Us";
    Global.BodyClass = "about page";
}

<!-- Main Content -->
<div id="container-wrap">
    <div class="main-container container">
	    <div class="row">
	        <div class="content col-sm-9">
	
	        <h1 class="page-title">About Us</h1>
		        <p>My story is unique, in 7th grade I broke my right hip and consequently it’s been fused ever since. Once I was 34 I was in declining health. I was on a prescription NSAID for 14 years, prescription muscle relaxer for 8, and then put on a statin for high cholesterol. I got mad and decided to become a marathon swimmer since that was the one sport where I could still compete. I would progress quickly, but the first 6 weeks would be frustrating for me because my lungs would take that time to build and develop. Once I was able to breathe my distances began to extend. Then came strength and balance and all of a sudden I was holding stroke and began building speed. I would successfully compete within the first year of training and would complete two open water 5K’s and a 3.5 mile crossing of Lake Okoboji in Iowa.</p>
 
<p>I became a Marathon swimmer on May 31st 2014 while swimming for a Multiple Sclerosis charity effort.  I completed my goal in  just under three years.  I then founded the SwamThat Race which features a 10K so that other have a Marathon distance outlet.  It’s held the second Sunday of September in Okoboji Iowa, come on out!</p>
 
<p>My passion for swimming is unbounded, I’ve successfully graduated from all of the previously mentioned prescriptions, and am in the best shape of my life. My disability is not nearly as powerful as it once was and I can speak from experience that strength removes pain. Swimming has saved my life! I truly feel that it is my calling to provide the support and tools for swimmers to self-train. The calculator was born out of a failed search for a training program that would fit my needs, and the race map was made because of the frustration involved in finding competitions. I know that there are more competitions out there and appreciate you telling me about them so that we can add them to the map.</p>
 
<p>My hope is that Swamthat.com will not only ignite the passion in current and past swimmers, but will also help people who are looking for a cardio outlet that don’t have the traditional routes of running and biking available. I also hope to assist people who used these routes but have suffered a leg or back injury that makes it difficult. The pool is open to everyone and the breathing frustrations are temporary, I assure you. Come on in!</p>
 
With a swimmers love,</p>
 
<p>Arlo</p>
	        <!-- /Content -->
	        </div>
            <div class="content col-lg-9">
                <p><a href="@Href("~/policies/terms-conditions")" title="Terms and Conditions">Terms and Conditions</a></p>
            </div>
        </div>
    </div>
<!-- /Main Content Wrap -->
</div>
