@{
    Page.Title = "Account Locked";
}
<div class="row">
    <div class="content col-sm-12">
        <hgroup class="title">
            <h1 class="error">@Page.Title.</h1>
            <h3 class="error">Your account was locked out due to too many invalid log in attempts.</h3>
        </hgroup>
        <p>
            Don't worry, the account will automatically be unlocked in 60 seconds. 
            Please try again after that time has passed.
        </p>
    </div>
</div>