@{
    Page.Title = "Login Failure";
}
<div class="row">
    <div class="content col-sm-12">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h3>Unsuccessful login with service.</h3>
        </hgroup>
    </div>
</div>